<template>
<Page>
  <ActionBar>
    <GridLayout width="100%" columns="auto, *">
      <Label text="MENU" @tap="$refs.drawer.nativeView.showDrawer()" col="0" />
      <Label class="title" text="Welcome to NativeScript-Vue!" col="1" />
    </GridLayout>
  </ActionBar>

  <RadSideDrawer ref="drawer">
    <StackLayout ~drawerContent backgroundColor="#ffffff">
      <Label class="drawer-header" text="Drawer" />

      <Label class="drawer-item" text="Item 1" />
      <Label class="drawer-item" text="Item 2" />
      <Label class="drawer-item" text="Item 3" />
    </StackLayout>

    <GridLayout ~mainContent columns="*, *" rows="*, *">
      <Label class="message" :text="msg" col="0" colSpan="2" row="0" @tap="toPage(2)" />
      <Label class="message" text="sharedText: " col="0" row="1" />
      <Label class="message" :text="sharedText" col="1" row="1" />
    </GridLayout>

  </RadSideDrawer>
</Page>
</template>

<script>
const application = require('tns-core-modules/application')
const Page = require('tns-core-modules/ui/page/')
const vm = new Page.Observable()

import Page2 from '~/components/Page2'

// import { TestClass } from '~/assets/js/shareFile'
// const shareFile = new TestClass()

export default {

  components: {
    Page2
  },

  data() {

    return {

      msg: 'Click me to go to Page2',
      android: false,
      ios: false

    }

  },

  computed: {

    sharedText: function () {
      return vm.sharedText
    }

  },

  methods: {

    toPage: function (pageNum) {

      this.$navigateTo(Page2)

    },

    handleSendText: function (intent) {

      var sharedText = intent.getStringExtra(android.content.Intent.EXTRA_TEXT);
      if (sharedText != null) {
        // Update UI to reflect text being shared
        console.log('Text received!')
        console.log('sharedText: ', sharedText)
        vm.set('sharedText', sharedText)
      }

    },

    handleSendImage: function () {

      //

    },

    handleSendMultipleImages: function () {

      //

    },

    handleCreatedEvent: function (args) {

      //

    },

    setOS: () => {

      if (application.android) {
        console.log("We are running on Android device!")
        this.android = true
      } else if (application.ios) {
        console.log("We are running on iOS device")
        this.ios = true
      }

    },

    init: function () {

      this.setOS
      
    }

  },
  mounted() {

    this.init

    if (android) {

      application.android.on(application.AndroidApplication.activityCreatedEvent, (args) => {
        let activity = args.activity;
        // Get intent, action and MIME type
        let intent = activity.getIntent()
        let action = intent.getAction()
        let type = intent.getType()

        if (android.content.Intent.ACTION_SEND === action && type != null) {
          if (type.startsWith("text/")) {
            this.handleSendText(intent) // custom method to handle text being sent
          } else if (type.startsWith("image/")) {
            this.handleSendImage(intent) // custom method to handle single image being sent
          }
        } else if (android.content.Intent.ACTION_SEND_MULTIPLE === action && type != null) {
          if (type.startsWith("image/")) {
            this.handleSendMultipleImages(intent) // custom method to handle multiple images being sent
          }
        } else {
          // Handle other intents, such as being started from the home screen
        }
      })
    }

  }
}
</script>

<style scoped>
ActionBar {
  background-color: #53ba82;
  color: #ffffff;
}

.title {
  text-align: left;
  padding-left: 16;
}

.message {
  vertical-align: center;
  text-align: center;
  font-size: 20;
  color: #333333;
}

.drawer-header {
  padding: 50 16 16 16;
  margin-bottom: 16;
  background-color: #53ba82;
  color: #ffffff;
  font-size: 24;
}

.button {}

.drawer-item {
  padding: 8 16;
  color: #333333;
  font-size: 16;
}
</style>
