<template>
<Page>
  <ActionBar title="My App - Page2" />
  <GridLayout ~mainContent columns="*" rows="*">
    <Label text="Page2" row="*" column="*" />
  </GridLayout>
</Page>
</template>

<script>
const application = require('tns-core-modules/application')

export default {}
</script>
